.team-card {
  width: 100%;
}

.add-team-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 300px;
  padding: 20px;
}

.add-team-card mat-form-field {
  width: 100%;
}

.add-team-card mat-card-actions {
  display: flex;
  justify-content: center;
}
